<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo center">Storybooks</a>

        <ul >
            <li><a href="/stories">Stries</a></li>
            <li><a href="/dashboard">dashboard</a></li>
            <li><a href="/auth/logout">logout</a></li>
        </ul>
    </div>
</nav>