<form method="POST" action="/stories/adds/">
    <div class="form">
        <div >
            <label>Title</label>
            <input class="form-control" value="title" name="title" type="text" />
        </div>
        <div >
            <label>body</label>
            <input class="form-control" type="text" name="body" />
        </div>
        <div >
            <label>status</label>
            <input class="form-control" type="text" name="status" />
        </div>
        <button type="submit">Submit</button>
    </div>
</form>