<div class="container">
    {{#each story }}
        <div class="mb8">
            <div>
                <h5>{{title}}</h5>
            </div>
        </div>
    </div>
    {{else}}
    <p>No story to dispaly</p>
    {{/each}}
</div>